In [1]:
from dogma import GeneticCode
from dogma.extensions import CodonSelector

In [2]:
supE = GeneticCode(ncbi_id=1, updated_mappings={'TAG': 'Q'})

In [3]:
must_exclude = ['*', 'C']

In [4]:
cs = CodonSelector(
    genetic_code=supE,
    must_exclude=must_exclude
)

In [5]:
cs.excluded_amino_acids

['*', 'C']

In [8]:
len(cs.filtered_table)

2223

In [9]:
cs.filtered_table.sort_values('Num_uAAs', ascending=False).head(10)

,Labels,AAs,uAAs,Num_Codons,Num_uAAs,Stops,EquimolarAA
1964,VNN,AAAADDEEGGGGHHIIIKKLLLLMNNPPPPQQRRRRRRSSTTTTVVVV,ADEGHIKLMNPQRSTV,48,16,False,False
1959,VND,AAADEEGGGHIIKKLLLMNPPPQQRRRRRSTTTVVV,ADEGHIKLMNPQRSTV,36,16,False,False
1253,NHS,AADEFHIKLLLMNPPQQSSTTVVY,ADEFHIKLMNPQSTVY,24,16,False,False
1249,NHB,AAADDEFFHHIIKLLLLMNNPPPQQSSSTTTVVVYY,ADEFHIKLMNPQSTVY,36,16,False,False
1968,VNV,AAADEEGGGHIIKKLLLMNPPPQQRRRRRSTTTVVV,ADEGHIKLMNPQRSTV,36,16,False,False
1966,VNS,AADEGGHIKLLMNPPQRRRSTTVV,ADEGHIKLMNPQRSTV,24,16,False,False
1252,NHK,AADEFHIKLLLMNPPQQSSTTVVY,ADEFHIKLMNPQSTVY,24,16,False,False
1962,VNK,AADEGGHIKLLMNPPQRRRSTTVV,ADEGHIKLMNPQRSTV,24,16,False,False
1957,VNB,AAADDEGGGHHIIKLLLMNNPPPQRRRRSSTTTVVV,ADEGHIKLMNPQRSTV,36,16,False,False
1969,VNW,AADEGGHIIKLLNPPQRRRSTTVV,ADEGHIKLNPQRSTV,24,15,False,False

In [10]:
eq = cs.filtered_table[cs.filtered_table.EquimolarAA]
eq.sort_values('Num_uAAs', ascending=False).head(10)

,Labels,AAs,uAAs,Num_Codons,Num_uAAs,Stops,EquimolarAA
1967,VNT,ADGHILNPRSTV,ADGHILNPRSTV,12,12,False,True
1255,NHY,AADDFFHHIILLNNPPSSTTVVYY,ADFHILNPSTVY,24,12,False,True
1970,VNY,AADDGGHHIILLNNPPRRSSTTVV,ADGHILNPRSTV,24,12,False,True
1958,VNC,ADGHILNPRSTV,ADGHILNPRSTV,12,12,False,True
1254,NHT,ADFHILNPSTVY,ADFHILNPSTVY,12,12,False,True
1250,NHC,ADFHILNPSTVY,ADFHILNPSTVY,12,12,False,True
571,DNG,AEGKLMQRSTVW,AEGKLMQRSTVW,12,12,False,True
1862,VBT,AGILPRSTV,AGILPRSTV,9,9,False,True
589,DVG,AEGKQRSTW,AEGKQRSTW,9,9,False,True
557,DHC,ADFINSTVY,ADFINSTVY,9,9,False,True

In [11]:
must_include = list('CWY')
std = GeneticCode(ncbi_id=1)
cs = CodonSelector(std, must_include=must_include)

In [12]:
cs.filtered_table.sort_values('Num_uAAs', ascending=True).head(10)

    Labels           AAs   uAAs  Num_Codons  Num_uAAs  Stops  EquimolarAA
137    TRV        ***CWY   *CWY           6         4   True        False
136    TRS          *CWY   *CWY           4         4   True         True
135    TRN      ***CCWYY   *CWY           8         4   True        False
134    TRK          *CWY   *CWY           4         4   True         True
133    TRD        ***CWY   *CWY           6         4   True        False
132    TRB        *CCWYY   *CWY           6         4   True        False
140    TVK        *CSSWY  *CSWY           6         5   True        False
141    TVN  ***CCSSSSWYY  *CSWY          12         5   True        False
139    TVD     ***CSSSWY  *CSWY           9         5   True        False
138    TVB     *CCSSSWYY  *CSWY           9         5   True        False

In [13]:
cs.must_exclude = ['*']
cs.filter()

In [14]:
cs.filtered_table.sort_values('Num_uAAs', ascending=True).head(10)

Empty DataFrame
Columns: [Labels, AAs, uAAs, Num_Codons, Num_uAAs, Stops, EquimolarAA]
Index: []